@import "tailwindcss";

:root {
    color-scheme: dark;
}

body {
    margin: 0;
    background-color: #020617;
    /* slate-950 */
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
}

#root {
    width: 100%;
    min-height: 100vh;
}